* {
	font-family: Meiryo, メイリオ;
}

body {
	margin: 0;
}

header[role="banner"] {
	background: #000000;
	padding: 8px;
	width: 100%;
}

header[role="banner"] > h1 {
	font-weight: 400;
}

header[role="banner"].fix {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
}

header[role="banner"] > h1 a {
	color: #ffffff;
	text-decoration: none;
}


main[role="main"] {
	margin: 0 auto;
	width: 980px;
}

nav[role="navigation"] {
	box-sizing: border-box;
	float: left;
	padding: 8px;
	width: 25%;
}

nav[role="navigation"] ul {
	list-style: none;
	margin: 0 8px;
}

nav[role="navigation"] ul li {
	background: #f39c12;
	padding: 8px;
	width: 100%;
}

nav[role="navigation"] ul li a {
	color: #ffffff;
	display: block;
	text-decoration: none;
	width: 100%;
}

article[role="article"] {
	box-sizing: border-box;
	float: left;
	padding: 8px;
	width: 75%;
}

article[role="article"] h1 {
	color: #ffffff;
	background: #4169e1;
	border-radius: 8px;
	font-weight: 400;
	margin: 0 0 8px;
	padding: 8px;
}

footer[role="contentinfo"] {
	margin: 0 auto;
	text-align: right;
	width: 980px;
}


.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}
